header {
	text-transform : uppercase;
	background-color : #333333;
	color: white;
	font-weight : bold;
	font-size : 150%;
	padding : 20px 0 20px 0;
	height : 60px;
	overflow: hidden;
	position : relative;
}

header div {
	position : relative;
	text-align: center;
	font-size: 40px;
}

header div div {
	top: 0px;
	width : 250px;
	background-color : #888888;
	font-size : 20px;
	line-height : 125%;
	box-sizing: border-box;
}




div {
	width : 700px;
	margin : auto;
}

footer a {
	color : #888888;
}

a:hover{
	font-size: large;
}

body {
	font-family : Arial;
	font-size : 15px;
	color : #333333;
	line-height : 150%;
	margin : 0;
}

h1, h2, h3 {
	font-family : Trebuchet MS;
}

h1 {
	font-size : 200%;
	font-weight : bold;
	text-transform : uppercase;
	text-align : center;
}

h2 {
	font-size : 150%;
	font-weight : normal;
	text-transform : uppercase;
}

h3 {
	font-size : 115%;
	font-weight : bold;
}

a {
	color :white;
	text-decoration : none;
}
ol li:first-child{
	padding-top:10px;
}

img {
	text-align: center;
	height: 90%;
	width: 90%;
}

ul {
	list-style-type : square;
}

nav{
	margin:auto;
	margin-top:-15px;
}

nav a{
	color:rgb(255, 255, 255);
}

nav a:hover{
	color:white;
}
 
nav li{
	list-style-type:none;
	display:inline-block; 
	line-height:300%;
	margin-left:20px;
	margin-right:20px;
}

nav ul{
	text-align:center;
	background-color:#e13737;
}
