header {
	text-transform : uppercase;
	background-color : #333333;
	color: white;
	font-weight : bold;
	font-size : 150%;
	padding : 20px 0 20px 0;
	height : 60px;
	overflow: hidden;
	position : relative;
	
}

footer {
	background-color : #333333;
	padding : 10px 0 10px 0
}

body {
	font-family : Arial;
	font-size : 15px;
	color : #333333;
	line-height : 150%;
	margin : 0;
}
nav{
	margin:auto;
	margin-top:-15px;
}

nav a{
	color:rgb(255, 255, 255);
}
div {
	width : 700px;
	margin : auto;
}
nav li{
	list-style-type:none;
	display:inline-block; 
	line-height:300%;
	margin-left:20px;
	margin-right:20px;
}
nav ul{
	text-align:center;
	background-color:#e13737;
}
header div div {
	top: 20px;
	width : 250px;
	background-color : #888888;
	font-size : 20px;
	line-height : 125%;
	box-sizing: border-box;
}

header div {
	position : relative;
	text-align: center;
	font-size: 40px;
}

p {
    text-align: center;
    font-size: 25px;
    word-spacing:5px;

}
a:hover{
	font-size: large;
}
li {
    list-style-type : square;
    
}
h1{
	font-family : 'Gagalin';
	text-align: center;
	font-size: 60px;
}
h2{

}