header {
	text-transform : uppercase;
	background-color : #333333;
	color: white;
	font-weight : bold;
	font-size : 150%;
	padding : 20px 0 20px 0;
	height : 60px;
	overflow: hidden;
	position : relative;
}

header div {
	position : relative;
	text-align: center;
	font-size: 40px;
}

header div div {
	top: 0px;
	width : 250px;
	background-color : #888888;
	font-size : 20px;
	line-height : 125%;
	box-sizing: border-box;
}




div {
	width : 700px;
	margin : auto;
}

footer a {
	color : #888888;
}

a:hover{
	font-size: large;
}

body {
	font-family : Arial;
	font-size : 15px;
	color : #333333;
	line-height : 150%;
	margin : 0;
}

h1, h2, h3 {
	font-family : Trebuchet MS;
}

h1 {
	font-size : 200%;
	font-weight : bold;
	text-transform : uppercase;
	text-align : center;
}

h2 {
	font-size : 150%;
	font-weight : normal;
	text-transform : uppercase;
}

h3 {
	font-size : 115%;
	font-weight : bold;
}

a {
	color :white;
	text-decoration : none;
}
ol li:first-child{
	padding-top:10px;
}

img {
	text-align: center;
	height: 90%;
	width: 90%;
}

ul {
	list-style-type : square;
}

nav{
	margin:auto;
	margin-top:-15px;
}

nav a{
	color:rgb(255, 255, 255);
}

nav a:hover{
	color:white;
}
 
nav li{
	list-style-type:none;
	display:inline-block; 
	line-height:300%;
	margin-left:20px;
	margin-right:20px;
}

nav ul{
	text-align:center;
	background-color:#e13737;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {

	div {
		width:100%;
		
	}
	img{
		width: 100%;
		border:2px solid #333333;
		margin-bottom: 25px;
	}


	img:hover{
		float:none;
		border:2px solid #333333;
		content: url("img/img3.jpeg");
		margin-bottom: 0px;
	}
	.chat2:hover{
		content: url("img/chuky.jpeg");
		
	}
	body
	{
		font-size:18px;
		background:radial-gradient(ellipse at center top,rgb(218, 132, 62),rgb(210, 96, 15));
		cursor: no-drop;
		
	}

	header{
		padding-top:30px;
		width:100%;
		height:50%;
		
	}
	header div div {
		display:none;
		
	}
	h1{
		line-height:100%;
		background-image: url("img/background.jpeg");
		background-clip:padding-box;
		padding:17px;
		border: 10px black;
		
	}
	article{		
		padding-left:20px;
		padding-right:20px;
		text-align:center;
		padding:17px;	
		border:10px  rgb(0, 0, 0);
		background:radial-gradient(ellipse at center top,rgb(218, 132, 62),rgb(210, 96, 15));
		margin-left: 10px;
		margin-right: 10px;
	}
	p{
		text-align:justify;
		padding-top: 10px;
	}
	
	nav ul{
		background:radial-gradient(ellipse at center top,rgb(218, 132, 62),rgb(210, 96, 15));
	}
	
	nav ul::before {
		margin-right: 50px;
		margin-left: 10px;
		content: url("img/halloween.png");
		height: auto;
	
	}
	
	nav ul li{
		display:none;
		
	}
	nav{
		margin:0px;
	}
	nav ul:hover li{
		display:block;
		text-align:left;
		border-top:black 1px solid;
		margin-top:10px;
		box-shadow: 0 0 10px white;
		margin-right: 60px;
		font-size: 25px;
				
	}
	nav ul li::before{
		content: url("img/sorciere.png");
	}
	
	footer{
		padding-left: 10px;
	}
}
