header {
	text-transform : uppercase;
	color: white;
	font-weight : bold;
	font-size : 110%;
	padding : 20px 0 20px 0;
	overflow: hidden;
	margin: 0;
	
}

html,body{
	margin: 0;
	height: auto;
}

body {
	font-family : Arial;
	font-size : 15px;
	line-height : 150%;
	margin : 0;
	background: linear-gradient(to bottom, #fd185f, #fc6b47, #f9bb2a);
	background-repeat: no-repeat;
	min-height: 100vh;
}
nav{
	margin:auto;
	margin-top:-15px;
}

nav a{
	background-color: rgb(255, 255, 255);
	color: #0f0808;
}
article div {
	text-align: center;
	padding: 30px;
	font-size: 50px;
	color: white;
	font-weight:bold;
	text-transform : uppercase;
	
}
div br {
	margin: 20px;

}
nav li{
	list-style-type:none;
	display:inline-block; 
	line-height:300%;
	margin-left:20px;
	margin-right:20px;
	
}
nav ul{
	text-align:center;
	background-color:#ffffff;
	color:#0f0808;
	

}
header div div {
	top: 20px;
	width : 250px;
	background-color : #888888;
	font-size : 20px;
	line-height : 125%;
	box-sizing: border-box;
}

p {
    text-align: center;
    font-size: 25px;
    word-spacing:5px;
}

li {
    list-style-type : square;
	color: #ffffff;   
}

h1{
	font-family : 'Gagalin';
	text-align: center;
	font-size: 60px;
	color: #ffffff;
}
a:hover{
	font-size: large;
}

img{
	height: 100px;
	width: 100px;
	margin: 80px;
	text-align: center;
}
.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
h2{
	color: #ffffff;
	font-family : 'Gagalin';
	text-align: center;
	font-size: 30px;
}
